.App {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 121, 35, 0.908000700280112) 58%,
    rgba(0, 212, 255, 1) 100%
  );
  height: 100vh;
}
.container {
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
.APP__InputContainer {
  padding: 20px;
}
.App_SearchBoxContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.App__SearchBox {
  padding: 5px;
  width: 50vw;
  height: 5vh;
  border: 0px solid white;
  border-radius: 5px;
  padding-left: 20px;
}
.App_SubmitContainer {
  margin-top: 25px;
  display: flex;
  justify-content: center;
}
.App__Submit {
  padding: 10px 35px 10px 35px;
  border-radius: 20px;
  border-width: 0;
}
.card_TopContainer {
  width: 50%;
  margin: 10px;
  height: 100%;
}
.card_Container {
  margin: 10px;
  flex-direction: column;
}
.__card {
  display: flex;
  flex-direction: row;
}
.card_Heading {
  padding: 10px;
  font-size: 20px;
  font-weight: 700;
}
.Heading {
  text-align: center;
}
